CONFIG_ARCH_MEDIATEK=y
CONFIG_ARCH_MT6589=y
CONFIG_ARM_APPENDED_DTB=y
CONFIG_ARM_APPENDED_DTB_NAME="mediatek/mt6589-lenovo-b8000-f.dtb"
CONFIG_ARM_ARCH_TIMER=y
CONFIG_ARM_GIC=y
CONFIG_BANNER=y
CONFIG_BAREBOXENV_TARGET=y
CONFIG_BOARD_GENERIC_DT=y
CONFIG_CLK=y
CONFIG_CLKSRC_ARM_ARCH_TIMER=y
CONFIG_CLOCKSOURCE_MEDIATEK=y
CONFIG_CMD_BOOTM=y
CONFIG_CMD_BOOTZ=y
CONFIG_CMD_CRC=y
CONFIG_CMD_DETECT=y
CONFIG_CMD_DEVINFO=y
CONFIG_CMD_ECHO=y
CONFIG_CMD_EXIT=y
CONFIG_CMD_EXPORT=y
CONFIG_CMD_FALSE=y
CONFIG_CMD_GLOBAL=y
CONFIG_CMD_GO=y
CONFIG_CMD_GPIO=y
CONFIG_CMD_HELP=y
CONFIG_CMD_I2C=y
CONFIG_CMD_IMPORT=y
CONFIG_CMD_LOADB=y
CONFIG_CMD_LOADY=y
CONFIG_CMD_LOGIN=y
CONFIG_CMD_MD5SUM=y
CONFIG_CMD_MEM=y
CONFIG_CMD_MEMINFO=y
CONFIG_CMD_OF_DUMP=y
CONFIG_CMD_OF_NODE=y
CONFIG_CMD_OF_PROPERTY=y
CONFIG_CMD_PRINTENV=y
CONFIG_CMD_REGULATOR=y
CONFIG_CMD_RESET=y
CONFIG_CMD_SAVEENV=y
CONFIG_CMD_SLEEP=y
CONFIG_CMD_TIME=y
CONFIG_CMD_TIMEOUT=y
CONFIG_CMD_TRUE=y
CONFIG_CMD_VERSION=y
CONFIG_COMMON_CLK=y
CONFIG_COMMON_CLK_MT6589=y
CONFIG_CONSOLE_SIMPLE=y
CONFIG_CPU_V7=y
CONFIG_CRC32=y
CONFIG_DEBUG_LL=y
CONFIG_DEBUG_MTK_UART=y
CONFIG_DEFAULT_ENVIRONMENT_GENERIC=y
CONFIG_DEFAULT_ENVIRONMENT_GENERIC_NEW=y
CONFIG_DRIVER_SERIAL_NS16550=y
CONFIG_DRIVER_VIDEO=y
CONFIG_DRIVER_VIDEO_SIMPLEFB=y
CONFIG_DRIVER_VIDEO_SIMPLEFB_CLIENT=y
CONFIG_FS_CRAMFS=y
CONFIG_FS_FAT=y
CONFIG_GENERIC_PHY=y
CONFIG_GLOBALVAR=y
CONFIG_GPIO=y
CONFIG_GPIOLIB=y
CONFIG_HUSH=y
CONFIG_IMAGE_GZIP=y
CONFIG_IMAGE_LZ4=y
CONFIG_INPUT=y
CONFIG_INPUT_MATRIXKMAP=y
CONFIG_KEYBOARD=y
CONFIG_KEYBOARD_MTK=y
CONFIG_LZ4=y
CONFIG_MCI=y
CONFIG_MCI_MTK_SD=y
CONFIG_MD5=y
CONFIG_MFD_MT6320=y
CONFIG_MFD_MTK_PWRAP=y
CONFIG_OFDEVICE=y
CONFIG_OF_BAREBOX_DRIVERS=y
CONFIG_PARTITION=y
CONFIG_PASSWORD=y
CONFIG_PASSWORD_PBKDF2=y
CONFIG_PHY_MTK_TPHY=y
CONFIG_PINCTRL=y
CONFIG_PINCTRL_MT6589=y
CONFIG_PROMPT="barebox@mt6589> "
CONFIG_REGMAP=y
CONFIG_REGULATOR=y
CONFIG_REGULATOR_MT6320=y
CONFIG_RTC_CLASS=y
CONFIG_RTC_MT6320=y
CONFIG_SERIAL_MEDIATEK=y
CONFIG_USB=y
CONFIG_USB_MUSB=y
CONFIG_USB_MUSB_HOST=y
CONFIG_USB_MUSB_MEDIATEK=y
CONFIG_WATCHDOG=y
CONFIG_WATCHDOG_MTK=y
CONFIG_WATCHDOG_POLLER=y
CONFIG_ZLIB=y
